@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-paper: #f2eee6;
  --color-paper-dark: #120f15;
  --color-ink-primary: #7a4f89;
  --color-ink-secondary: #cb8fcd;
  --color-ink-accent: #78c4c0;
  --color-ink-accent-dark: #e2b8b9;
  --color-frame-primary: #e2b8b9;
  --color-frame-secondary: #7a4f89;
  --color-surface-primary: #ffffff;
  --color-surface-primary-dark: #1c161f;
}
